# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Porject_PHP\DB_lesson\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
